@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

 

<div class="slider_area">
    <div class="single_slider  d-flex align-items-center slider_bg_1">
        <div class="container">
            <div class="row align-items-center position-relative">
                <div class="col-lg-9">
                    <div class="slider_text">
                        <h3>
                            Hi there, I am Sumit <br>
                            <span>Full stack .Net Developer</span>
                        </h3>
                        <a class="boxed-btn3-line" href="#">View Works</a>
                    </div>
                </div>
                <div class="my_img d-none d-lg-block">
                    <img src="~/asset/img/about/Sumitimage.png" alt="" style="width:500px;height:900px" class="sumitimg">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->

<div class="download_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-10">
                <div class="download_text">
                    <h3>I’m a Full stack developer based on India(Mumbai), who loves Working on a diffrent and complex project. I also enjoy learning new technology </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="download_left">
                    <p>
                        I have a experince in working on a diffrent .net MVC project . As a full stack developer I can work from frontend designing to backend coding . Also learnt Cloud computing to run website on a internet.
                    </p>
                    <p>Below is the download button where you can download my updated CV . </p>
                    <a href="#" class="boxed-btn3-line" id="DownloadCV">Download CV</a>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1 col-md-6">
                <div class="progress_skills">
                    <div class="single_progress">
                        <div class="label d-flex justify-content-between">
                            <span>MVC</span>
                            <span>90%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar " role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="single_progress">
                        <div class="label d-flex justify-content-between">
                            <span>SQL</span>
                            <span>90%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar " role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="single_progress">
                        <div class="label d-flex justify-content-between">
                            <span>frontend designing</span>
                            <span>75%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- service_area start  -->
<div class="service_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title mb-50">
                    <h3>My Services</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_service text-center">
                    <div class="icon">
                        <img src="img/svg_icon/1.svg" alt="">
                    </div>
                    <h3>
                        Websites 
                    </h3>
                    <p>Able to build a website using MVC .net </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_service text-center">
                    <div class="icon">
                        <img src="img/svg_icon/2.svg" alt="">
                    </div>
                    <h3>
                        Frontend Development
                    </h3>
                    <p>I can design a website using HTML CSS and JS framework </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_service text-center">
                    <div class="icon">
                        <img src="img/svg_icon/3.svg" alt="">
                    </div>
                    <h3>
                        SQL database 
                    </h3>
                    <p>able to work on a databse to perform deffrent operation and connection with website </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- service_area end  -->
<!-- gallery_area start  -->
<div class="gallery_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title mb-50">
                    <h3>My Works</h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-10">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single_gallery">
                            <div class="thumb">
                                <img src="img/gallery/1.png" alt="">
                            </div>
                            <div class="gallery_heading">
                                <span>Mobile App</span>
                                <a href="works_details.html"><h4>Colorlib App Project</h4></a>
                            </div>
                        </div>
                        <div class="single_gallery">
                            <div class="thumb">
                                <img src="img/gallery/2.png" alt="">
                            </div>
                            <div class="gallery_heading">
                                <span>Mobile App</span>
                                <a href="works_details.html"><h4>Colorlib App Project</h4></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single_gallery">
                            <div class="thumb">
                                <img src="img/gallery/3.png" alt="">
                            </div>
                            <div class="gallery_heading">
                                <span>Mobile App</span>
                                <a href="works_details.html"><h4>Colorlib App Project</h4></a>
                            </div>
                        </div>
                        <div class="single_gallery">
                            <div class="thumb">
                                <img src="img/gallery/4.png" alt="">
                            </div>
                            <div class="gallery_heading">
                                <span>Mobile App</span>
                                <a href="works_details.html"><h4>Colorlib App Project</h4></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="more_works">
                            <a class="boxed-btn3-line" href="#">More Works</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- gallery_area end  -->
<!-- testimonial_area  -->
<div class="testimonial_area ">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title">
                    <h3>What Clients say</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                    <div class="single_carousel">
                        <div class="row">
                            <div class="col-xl-9 col-md-9">
                                <div class="single_testmonial">
                                    <p>
                                        “There are many variations of passages of Lorem Ipsum available, but the majority
                                        have suffered alteration in some form by injected humour or randomised words
                                        which don’t look even slightly believable. If you are going to use a passage.
                                    </p>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                            <img src="img/case/testmonial.png" alt="">
                                        </div>
                                        <div class="author_name">
                                            <h3>Kalvin Piterson</h3>
                                            <span>Business Owner</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row">
                            <div class="col-xl-9 col-md-9">
                                <div class="single_testmonial">
                                    <p>
                                        “There are many variations of passages of Lorem Ipsum available, but the majority
                                        have suffered alteration in some form by injected humour or randomised words
                                        which don’t look even slightly believable. If you are going to use a passage.
                                    </p>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                            <img src="img/case/testmonial.png" alt="">
                                        </div>
                                        <div class="author_name">
                                            <h3>Kalvin Piterson</h3>
                                            <span>Business Owner</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row">
                            <div class="col-xl-9 col-md-9">
                                <div class="single_testmonial">
                                    <p>
                                        “There are many variations of passages of Lorem Ipsum available, but the majority
                                        have suffered alteration in some form by injected humour or randomised words
                                        which don’t look even slightly believable. If you are going to use a passage.
                                    </p>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                            <img src="img/case/testmonial.png" alt="">
                                        </div>
                                        <div class="author_name">
                                            <h3>Kalvin Piterson</h3>
                                            <span>Business Owner</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /testimonial_area  -->
<!-- footer start -->
<div class="modal" tabindex="-1" role="dialog" id="downloadSuccessModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Download Successful</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Your PDF file has been downloaded successfully!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

    <script>
        document.getElementById('DownloadCV').addEventListener('click', function() {
        // Assuming your server-side endpoint is '/download_pdf'
        var downloadUrl = '/downloadfiles/SumitVermaResume(Full%20stack%20developer).pdf';

        fetch(downloadUrl)
            .then(response => response.blob())
            .then(blob => {
                // Create a link element
                var link = document.createElement('a');
        link.href = window.URL.createObjectURL(blob);
        link.download = 'SumitVermaResume(Full stack developer).pdf';

        // Append the link to the document
        document.body.appendChild(link);

        // Trigger the download
        link.click();
        alert('CV downloaded successfully!');
        // Remove the link from the document
        document.body.removeChild(link);
            })
            .catch(error => console.error('Error downloading PDF:', error));
    });
</script>



